/* Whole document: */
body{
  font-family: Helvetica;
  font-size: 55pt;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 54pt;
}

.navbar-default {
  background-color: #0DC8F6;
  color: #212121;
  font-weight: 300;
  font-size: 16px;
  
}